!*.yaml
!scenes
!.gitignore
deps
deps/*
!input_numbers/*
secrets.yaml
secrets.yaml-backup
known_devices.yaml
gitupdate.sh
update.sh
*.db
OZW_Log.txt
*.log
*.jpg
zwcfg_0xfdfaeb92.xml
*.sqlite
hc
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.spotify-token-cache
.uuid
**/__pycache__
tts/**
apps/jarvis/tv_amazon_raw.txt
apps/jarvis/tv_netflix_raw.txt
apps/jarvis/tv_raw.txt
!www/
!www/custom_ui
!www/custom_ui/floorplan
!www/custom_ui/floorplan/*
