!*.yaml
!scenes
!.gitignore
deps
deps/*
!input_numbers/*
secrets.yaml
known_devices.yaml
gitupdate.sh
update.sh
*.db
OZW_Log.txt
*.log
zwcfg_0xfdfaeb92.xml
*.sqlite
hc

.spotify-token-cache
.uuid
apps/__pycache__
!www/
!www/custom_ui
!www/custom_ui/floorplan
!www/custom_ui/floorplan/*
